.wishlist-account {
  padding: 0 15px;

  &__title {
    font-size: 26px;
    line-height: 32px;
    font-family: $bold-font;
    text-transform: uppercase;
    font-style: normal;

    @include breakpoint(sm-min) {
      letter-spacing: normal;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
    }
  }

  &__delete {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;

    @include breakpoint(sm-min) {
      font-size: 10px;
      margin-bottom: 20px;
    }
  }

  &__list {
    border-bottom: 1px solid #979797;
    @include breakpoint(sm-min) {
      white-space: unset;
      overflow: hidden;
      padding: 0 20px;
      border-bottom: none;
      border-bottom: none;
    }
  }

  &__item {
    flex-basis: 270px;

    @include breakpoint(sm-min) {
      width: 100%;
      margin: 0 auto 20px;
    }

    .product {
      &__container {
        background: none;
        @include breakpoint(sm-min) {
          display: flex;
          align-items: center;
          background: none;
          padding: 10px 0;
        }
      }
      &__sale-name, &__tag {
        display: none;
      }
      &__img-container {
        padding-bottom: 80%;
        @include breakpoint(sm-min) {
          width: 90px;
          height: 90px;
          min-height: 0;
          padding-bottom: 0;
        }

        a {
          &::before {
            @include breakpoint(sm-min) {
              display: none;
            }
          }
        }
      }
      &__info {
        @include breakpoint(sm-min) {
          width: calc(100% - 90px);
          text-align: left;
          padding: 0 20px;
        }
      }

      &__price,
      &__price-sale {
        @include breakpoint(sm-min) {
          font-size: 14px;
        }
      }

      &__name {
        @include breakpoint(sm-min) {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  &__item-delete {
    @include breakpoint(sm-min) {
      right: 20px;
      top: 20px;
      background-color: transparent;
      border: none;
    }
  }

  &__row {
    @include breakpoint(sm-min) {
      padding: 20px 0 0;
      margin-bottom: 20px;
      background: #FFFFFF;
    }
  }
}
