body {
  .account {
    background: #fff;
    min-height: calc(100vh - 114px);
    animation: fadeIn 1.5s;
    animation-fill-mode: backwards;

    &__title {
      text-transform: uppercase;
      font-family: $bold-font;
      font-size: 30px;
      letter-spacing: 0.7px;
      line-height: 40px;

      @include breakpoint(sm) {
        font-size: 25px;
      }
    }

    &__intro {
      font-size: 14px;
      line-height: 26px;

      @include breakpoint(sm) {
        font-size: 13px;
        line-height: 21px;
      }
    }

    &__logout {
      font-weight: normal;
    }

    &__tabs {
      max-width: 1250px;

      @include breakpoint(sm-min) {
        margin: 0 auto 20px;
      }
    }

    &__tab {
      font-size: 16px;
      letter-spacing: normal;
      font-family: $bold-font;
      text-transform: uppercase;
      margin: 0 4px;
      height: 60px;
      text-decoration: none;
      background: #FCFAF8;


      @include breakpoint(sm) {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: .9px;
        height: 50px;
      }

      &--active {
        background: black;
        color: white;
      }
    }

    &__section {
      max-width: 1250px;
      margin: auto;
      align-items: flex-start;

      + div {
        max-width: 1250px;
        margin: auto;

        .account__block-title {
          display: none;
        }
      }
    }

    &__block {
      background: #FCFAF8;
      border: none;
      margin: 0 4px;
      padding-top: 40px;
      width: calc(100% / 3);

      @include breakpoint(md) {
        width: calc(50% - 10px);
        margin: 0;
      }

      @include breakpoint(sm) {
        padding-top: 0;
        width: 100%;
        margin-bottom: 20px;
      }

      &:first-of-type {
        @include breakpoint(md) {
          width: calc(100% - 12px);
        }

        @include breakpoint(sm-min) {
          width: 100%;
          margin: 0 auto 20px;
        }

        .account__block-title:last-of-type {
          @include breakpoint(sm-min) {
            display: none;
          }
        }
      }

      &-title {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1.7px;
        font-family: $bold-font;
        background: #FCFAF8;

        @include breakpoint(sm-min) {
          position: relative;
          &::before, &::after {
            content: '';
            width: 10px;
            height: 2px;
            background: black;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translate(0, -50%);
          }
          &:after {
            width: 2px;
            height: 10px;
            right: 24px;
          }
        }
      }
      .button {
        background: none;
        text-decoration: underline;
        color: black;
        height: auto;
        width: auto;
        display: block;
        min-width: 0;
        margin: 0 0 0 auto;
        padding: 10px;
      }
    }

    &__order-item {
      .button {
        min-width: 80%;
      }
    }
    &__order-row--top,
    &__modal-header,
    &__modal-row--top {
      font-weight: normal;
      font-family: $bold-font;
    }

    &__order-row {
      background: #FCFAF8;
      margin-bottom: 20px;
      padding-left: 30px;
      font-size: 14px;
      letter-spacing: normal;
      height: 70px;

      @include breakpoint(sm) {
        letter-spacing: normal;
        padding-left: 5px;
      }

      &:nth-child(odd) {
        background: white;
      }

      &--top {
        background: none !important;
        margin-bottom: 0;
      }

      .button {
        background: none;
        text-decoration: underline;
        color: black;
      }
    }
  }
}
