.search {
  // width: calc(100% - 440px);
  width: 400px;
  height: 40px;
  transform: none;
  top: auto;
  bottom: 17px;
  left: auto;
  right: 10px;
  flex-direction: row-reverse;
  transition: none;

  &--open {
    background: white;
    z-index: 200;
    border: 1px solid #eee;

    @include breakpoint(md) {
      background: white;
    }

    @include breakpoint(sm-min) {
      // left: 10px;
      // width: calc(100% - 20px);
    }

    .search__icon {
      padding: 0;
      img {
        transform: none;
      }
    }

  }

  &__input {
    color: black;
    border: 1px solid #ccc;
    border-right: none;
    padding-left: 10px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 12px;
    width: calc(100% - 100px);
    transition: none;
    border: none;
    font-size: 13px;

    @include breakpoint(sm-min) {
      padding-left: 10px;
      text-transform: none;
    }

    &::placeholder {
      color: black;
    }
  }

  &__btn {
    background: #fff;
    color: black;
    vertical-align: top;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
    border: none;
    letter-spacing: 0;
    width: 100px;
    transition: none;
  }

  &__icon {
    width: 50px;
    text-align: center;
    letter-spacing: .2px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0;
    transition: none;

    img {
      transform: none;
      width: 18px;
    }
  }
}
