:global {
  @import "~cq-base-react/src/css/base.scss";

  @import "./base/animations.scss";
  @import "./base/base.scss";
  @import "./base/modal.scss";
  @import "./base/buttons.scss";
  @import "./base/flexbox.scss";
  @import "./base/titles.scss";
  @import "./base/forms.scss";
  @import "./variables/variables.scss";
  @import "./components/components.scss";
}

@font-face {
  font-family: 'AvenirLight';
  src: url('./fonts/AvenirLight.woff') format('woff'),
       url('./fonts/AvenirLight.ttf') format('truetype'),
       url('./fonts/AvenirLight.svg#AvenirLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirRegular';
  src: url('./fonts/AvenirRegular.woff') format('woff'),
  url('./fonts/AvenirRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('./fonts/AvenirMedium.woff') format('woff'),
  url('./fonts/AvenirMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBold';
  src: url('./fonts/AvenirBold.woff') format('woff'),
  url('./fonts/AvenirBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SnellRoundhandScript';
  src: url('./fonts/SnellRoundhandScript/SnellRoundhandScript.woff') format('woff'),
  url('./fonts/SnellRoundhandScript/SnellRoundhandScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskervilleRegular';
  src: url('./fonts/LibreBaskerville/LibreBaskervilleRegular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/LibreBaskerville/LibreBaskervilleRegular.woff') format('woff'),
  url('./fonts/LibreBaskerville/LibreBaskervilleRegular.ttf')  format('truetype'),
  url('./fonts/LibreBaskerville/LibreBaskervilleRegular.svg#LibreBaskervilleRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
