.related-products {
    background: #fff;

    @include breakpoint(sm-min) {
        border-top: 1px solid #ddd;
    }

    &__title {
        color: black;
        font-size: 30px;
        font-family: $bold-font;
        text-align: center;
        margin: 0 auto 30px;
        padding: 0 20px;

        @include breakpoint(sm) {
            font-size: 20px;
        }
    }

    &__items {
        max-width: 1200px;
        justify-content: center;

        @include breakpoint(sm-min) {
            overflow-y: hidden;
            overflow-x: scroll;
        }
    }

    &__item {
        margin: 0 15px;

        .product__quick-add-button, .product__img-container a::before {
            display: none;
        }
    }
}