body {
    .checkout {
      display: flex;
      background: #fff;
      border-top: 1px solid #ddd;
  
      &--thank-you-page {
        position: relative;
        z-index: 100;
      }
  
      @include breakpoint(md) {
        display: block;
        background: #fffcf8;
      }
  
      @include breakpoint(sm-min) {
        padding-bottom: 80px;
      }
  
      &__edit-btn {
        height: 24px;
        font-size: 10px;
        padding: 0 8px;
        margin-top: 1px;
  
        @include breakpoint(sm-min) {
          display: block;
          margin: 5px 0 20px 0;
          padding: 0 16px;
        }
      }
  
      &__link {
        cursor: pointer;
        color: black;
      }
      &__exit {
        position: absolute;
        top: 110px;
        height: 10px;
        z-index: 10;
        left: 20px;
        font-family: $bold-font;
        letter-spacing: normal;
        text-decoration: none;
        color: black;
        font-size: 13px;
        text-transform: none;
        cursor: pointer;

        @include breakpoint(md) {
          top: 117px;
        }
        @include breakpoint(sm-min) {
          display: none;
        }
      }
  
      &__left {
        width: 35vw;
        padding-top: 0;
        animation: fadeIn 1.5s;
        animation-fill-mode: backwards;
        animation-delay: 0.25s;
        padding-top: 25px;
        border-right: 1px solid #ddd;
        max-width: 600px;

        @include breakpoint(lg) {
          width: 360px;
          padding: 25px 0 0;
        }
  
        @include breakpoint(md) {
          width: 100%;
          max-width: none;
          float: none;
          margin-bottom: 0;
          padding-bottom: 15px;
          padding-top: 0;
          border-right: none;
        }
  
        @include breakpoint(sm-min) {
          padding-bottom: 0;
          animation: none;
        }
      }
  
      &__middle {
        width: 65vw;
        background: #fff;
        padding: 20px 0 40px;
        animation: fadeIn 1.5s;
        animation-fill-mode: backwards;
        animation-delay: 0.25s;
        flex-grow: 1;
  
        @include breakpoint(lg) {
          width: calc(100% - 360px);
          padding: 20px 0 40px;
        }
  
        @include breakpoint(md) {
          width: 100%;
        }
        @include breakpoint(sm-min) {
          padding: 0 20px 40px;
          animation: none;
        }
      }
  
      &__title {
        font-size: 24px;
        letter-spacing: normal;
        font-family: $bold-font;
        color: #000;
  
        @include breakpoint(sm-min) {
          margin-bottom: 20px;
        }
      }
  
      &__button-container {
        margin-right: 20px;
        margin-top: 0;
  
        @include breakpoint(sm-min) {
          margin-right: 0;
        }
      }
  
      &__block {
        width: 50%;
  
        @include breakpoint(sm-min) {
          width: 100%;
        }
      }
  
      &--theme-1 {
        .checkout__address-wrapper {
          margin-bottom: 40px;
          padding: 0 40px;
  
          @include breakpoint(lg) {
            padding: 0 20px;
          }
          @include breakpoint(sm-min) {
            padding: 0;
          }
        }
        .checkout__delivery,
        .checkout__payment {
          border-color: #ddd;
          border-right: none;
          padding: 40px;
  
          @include breakpoint(lg) {
            padding: 40px 20px;
          }
          @include breakpoint(sm-min) {
            border: none;
            padding-left: 0;
            padding-right: 0;
          }
        }
        .checkout__payment {
          border-left: 1px solid #ddd;
  
          @include breakpoint(sm-min) {
            border-left: none;
            padding-top: 0;
          }
        }
      }
  
      .addresses-fields {
        .form--group {
          @include breakpoint(sm-min) {
            width: 100%;
            margin-right: 0;
          }
        }
      }
  
      &__address-login {
        padding-top: 20px;
      }
  
      &__form-error-message {
        right: 20px;
      }
  
      &__terms-conditions {
        width: 50%;
        margin: 0 0 40px auto;
        padding-left: 20px;
        padding-right: 20px;
        clear: both;
  
        @include breakpoint(sm-min) {
          width: 100%;
          padding-left: 0;
          margin: auto;
          padding-right: 0;
        }
  
        a {
          color: #000;
        }
  
        .checkout__block {
          width: 100%;
          margin: auto;
        }
      }
  
      &__terms {
        line-height: normal;
        margin: 20px 0 40px;
      }
      &__payment {
        &__display-totals {
          padding: 18px 15px;
          min-width: 150px;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          &__row {
            display: flex;
            justify-content: space-between;
            color: black;
            letter-spacing: 0.55px;
            font-family: $main-font;
            font-size: 13px;
            margin-bottom: 15px;
  
            &:last-of-type {
              margin-bottom: 0;
              letter-spacing: 1px;
              text-transform: uppercase;
              font-family: $bold-font;
            }
          }
        }
      }
  
      &__address-details {
        width: 50%;
        margin: 0;
        padding-right: 20px;
        float: left;
      }
      &__address-subtitle {
        font-size: 15px;
        font-family: $bold-font;
        margin-bottom: 12px;      
      }
      &__address-label {
        font-size: 14px;
        padding-bottom: 10px;
        font-style: italic;
      }
    }
  
    &__bottom {
      clear: both;
    }
  }
  
  html {
    .is-checkout {
      .cart {
        &__container {
          .coupon {
            border: 1px solid #bbb;
            margin-bottom: 40px;
            padding: 0;
            .form--input {
              background: transparent;
              border: none;
              width: calc(100% - 80px);
              font-size: 12px;
              text-transform: none;
            }
            .button {
              background: transparent;
              width: 80px;
              color: black;

              &:hover {
                  border: none;
              }
            }
          }
        }
  
        &__header {
          text-align: center;
          padding: 30px 0 20px;
          display: block;
          height: auto;
          border-bottom: 1px solid #bbb;
          width: calc(100% - 40px);
          margin: 0 auto 30px;
  
          @include breakpoint(md) {
            padding: 15px 0;
            margin: 0 auto;
            width: 100%;
          }
  
          @include breakpoint(sm-min) {
              font-size: 16px;
          }
        }
        &__title {
          width: 100%;
          justify-content: center;
  
          h3 {
            font-size: 24px;
            letter-spacing: normal;
            font-family: $bold-font;
            top: auto;
          }
        }
  
        &__items {
          height: calc(100vh - 530px);
          padding: 0 20px;
  
          @include breakpoint(md) {
            height: auto;
          }
          @include breakpoint(sm-min) {
            display: block;
            padding: 0 20px;
          }
        }
  
        &__line-item {
          padding: 0 0 20px;
          margin-bottom: 20px;
          border-color: #bbb;
  
          &:last-child {
            border: none;
          }
  
          @include breakpoint(md) {
            padding: 20px 0;
            margin-bottom: 0;
          }
          @include breakpoint(sm-min) {
            display: flex;
          }
        }
  
        &__product-image {
          background: none;
          height: 80px;
          width: 80px;
          min-height: 0;
        }
  
        &__product-info {
          width: calc(100% - 80px);
        }
  
        &__product-name {
          margin-bottom: 8px;
        }
  
        &__subtotal {
          display: flex;
          color: black;
          &:first-of-type {
            @include breakpoint(sm) {
              border: none;
            }
          }
  
          @include breakpoint(sm) {
            display: flex;
          }
  
          &-item-label {
            font-family: $main-font;
            font-size: 14px;
          }
          &-item-price {
            font-family: $main-font;
            font-size: 14px;
          }
        }
  
        &__total {
          padding: 20px 0;
          border-top: 1px solid #bbb;
          display: flex;
  
          @include breakpoint(sm) {
            padding-bottom: 15px;
          }
  
          &-price {
            letter-spacing: 0.5px;
          }
        }
  
        &__footer {
          border-top: none;
        }
      }
  
      .checkout__link {
        color: black;
        font-family: $bold-font;
      }
  
      .login {
        background: none;
        margin-bottom: 0;
        padding: 0 20px 0 0;
  
        @include breakpoint(sm-min) {
          margin-bottom: 60px;
        }
  
        &__container {
          margin-bottom: 0;
        }
  
        .button {
          padding: 0;
          background: transparent;
          border: 1px solid black;
          color: black;
          min-width: 0;
        }
  
        &__title {
          line-height: 21px;
          padding-right: 10px;
          text-transform: none;
          font-family: $main-font;
          letter-spacing: 0.7px;
          font-size: 14px;
          color: black;
        }
  
        &__wrapper {
          max-width: unset;
          width: 100%;
        }
  
        &__logout {
          font-size: 14px;
          font-weight: normal;
          color: #000;
        }
  
        .form--input {
          &::placeholder {
            color: black;
          }
        }
      }
  
      .header-mobile {
        display: none;
      }
  
      .header {
        position: relative;
        height: 85px;
        &__options,
        &__wishlist,
        &__language-text,
        &__menu {
          display: none;
        }
      }
      .footer {
        display: none;
      }
      main {
          min-height: 0;
          padding-top: 0;
      }
    }
  }
  