@import "../variables/variables";

body {
  font-family: $main-font;
  color: black;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100vh;
  padding-top: 142px;

  @include breakpoint(sm-min) {
    padding-top: 0;
    min-height: calc(100vh - 64px);
  }
}

.loader {
  span {
    display: none;
  }
  background: url('../images/loader.gif') no-repeat center;
  background-size: contain;
  width: 100px;
  height: 50px;
}