.instafeed {
  overflow: hidden;
  white-space: nowrap;
  max-width: none;
  margin-top: 40px;

  &__item {
    display: inline-block;
    float: none;
    margin: 0;
    width: calc(100% / 6);
    border: 2px solid white;
  }

  &__img {
  }
}
