.product,
.related-products__item,
.product--hotspot {
  background: none;
  padding-bottom: 0;
  border: none;
  width: calc((100% / 3) - 30px);
  margin: 0 15px 60px;
  
  @include breakpoint(sm-min) {
    width: calc(50% - 10px);
    margin: 0 5px 10px;
    padding-bottom: 0;
  }

  &__tag, &__sale-name {
    font-size: 13px;
    letter-spacing: .2px;
    top: auto;
    bottom: -20px;
    left: 50%;
    text-align: center;
    white-space: nowrap;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;

    @include breakpoint(sm-min) {
      font-size: 12px;
    }
  }

  &__sale-name {
    color: red;
    top: 16px;
    position: absolute;
    left: 20px;
    text-transform: uppercase;
  }

  &__colors {
    text-align: center;
    margin-top: 14px;
  }

  &__container {
    background: none;
    padding: 50px 20px 10px;

    @include breakpoint(md) {
      padding: 30px 0 10px;
    }

    .wishlist__icon {
      right: auto;
      top: auto;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      bottom: -22px;
    }
  }
  &__btn-container, &__description {
      display: none;
  }
  &__info {
      text-align: center;
      padding: 30px 0 0;
  }
  &__price {
      float: none;
      font-size: 14px;
      color: black;
      letter-spacing: normal;
      text-align: center;
      display: inline-block;

      @include breakpoint(sm-min) {
        font-size: 12px;
      }

      &--is-sale {
        text-decoration: line-through;
      }
  
      &-sale {
        color: red;
        font-size: 14px;
        letter-spacing: normal;
        margin-left: 4px;  

        @include breakpoint(sm-min) {
          font-size: 12px;
        }
      }
  }
  &__name {
      font-size: 15px;
      letter-spacing: normal;
      margin-bottom: 12px;
      font-family: $bold-font;
      text-transform: none;
      letter-spacing: .2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include breakpoint(sm-min) {
        font-size: 13px;
      }
  }
  &__img-container {
      padding-bottom: 100%;

      img {
        max-width: 100%;
        max-height: 100%;
        filter: drop-shadow(1px 4px 3px rgba(0,0,0,0.18));
        transition: all 300ms;
      }
      .product__img-hover {
        filter: none;
      }
  }
  &__quick-add-container {
    bottom: auto;
    top: 50%;
    transform: translate(0, -50%);
    .button {
      height: 40px;
      padding: 0 5px;
      font-size: 12px;

      &:hover {
        color: black;
      }
    }
  }
  &__sold-out {
    font-size: 13px;
    // top: -32px;
    text-transform: uppercase; 
    top: auto;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background: white;
    padding: 2px 0;
    z-index: 10;
  }
}

.is-pop, .is-pdp {
  .product, .product__container {
    background: white;
  }
}